
*.user
/bin
/build
/obj
/packages
/TestResults
/scalejs.effects-jqueryui.v11.suo
/scalejs.effects-jqueryui.csproj.user
/scalejs.effects-jqueryui/bin
/scalejs.effects-jqueryui/build
/scalejs.effects-jqueryui/obj
/scalejs.effects-jqueryui/scalejs.effects-jqueryui.csproj.user
/scalejs.effects-jqueryui.test/build
/scalejs.effects-jqueryui.test/obj